* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}

body {
    background-color: rgb(170, 127, 211);

}

main {
    background-color: white;
    width: 600px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5)
}

h1 {
    font-size: 2em;
    color: rgb(216, 87, 87);
}

h2 {

    font-size: 2em;
    color: rgb(74, 123, 143);
}

img.lado {
    float: right;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(51, 185, 118);

}

a:hover {
    text-decoration: underline;
    color: rgb(76, 76, 199);
}